##定义初始变量
#set($controllerName = $tool.append($tableInfo.name, "Controller"))
##设置回调
$!callback.setFileName($tool.append($controllerName, ".java"))
$!callback.setSavePath($tool.append($tableInfo.savePath, "/controller"))

#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}controller;

import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};
import $!{tableInfo.savePackageName}.service.$!{tableInfo.name}Service;
import org.springframework.web.bind.annotation.*;


/**
 *
 *
 * @author $!author
 * @since $!time.currTime()
 */
@RestController
@RequestMapping("$!tool.firstLowerCase($tableInfo.name)")
public class $!{controllerName} {

    private final $!{tableInfo.name}Service $!tool.firstLowerCase($tableInfo.name)Service;

    public $!{controllerName}($!{tableInfo.name}Service $!tool.firstLowerCase($tableInfo.name)Service){
        this.$!tool.firstLowerCase($tableInfo.name)Service = $!tool.firstLowerCase($tableInfo.name)Service;
    }
}