##定义初始变量
#set($tableName = $tool.append($tableInfo.name, "RepositoryTest"))
#set($testTargetName = $tool.append($tableInfo.name, "Repository"))
#set($entityName = $tableInfo.name)
##设置回调
$!callback.setFileName($tool.append($tableName, ".java"))
$!callback.setSavePath($tool.append($tool.replaceFirst($tableInfo.savePath,"/main/","/test/"), "/repository"))

##拿到主键
#if($tableInfo.savePackageName)package $!{tableInfo.savePackageName}.#{end}repository;

import $!{tableInfo.savePackageName}.entity.$!{tableInfo.name};

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.boot.jdbc.EmbeddedDatabaseConnection;
import org.springframework.boot.test.autoconfigure.jdbc.AutoConfigureTestDatabase;
import org.springframework.boot.test.autoconfigure.orm.jpa.DataJpaTest;


/**
 *
 * @author $!author
 * @since $!time.currTime()
 */
@DataJpaTest
@AutoConfigureTestDatabase(connection = EmbeddedDatabaseConnection.NONE)
public class  $!{tableName}Test {
    @Autowired
    private $!testTargetName $!tool.firstLowerCase($!{testTargetName});

    @org.junit.Test
    public void test() {
    }
}
